form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 40px auto;
  margin-top: 20px;
}

.answer-form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: white;
  border-top: 1px solid #dcdcdc;
}

form div .MuiInput-root-93 {
  margin-top: 0;
}

.submit-answer-button-active {
  background-color: #f50057 !important;
  color: white !important;
}