div.icon-fix{
    font-family: devicon !important;
    font-size: 38px;
}

.answers {
  padding: 12px;
}

.answers-list {
  padding: 0;
  list-style: none;
  padding-bottom: 160px;

  & li h5 small {
    font-weight: normal;
    font-size: smaller;
    color: rgba(0,0,0, .54);
  }

  & li h5 {
    margin-bottom: 0;
  }
}

.description {
  padding-left: 6px;
  border-left: 2px solid #eee;
  font-size: 14px; 
  margin-top: 6px;
}